@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html {
    cursor: url(imagens/mata_mosca.png) 30 30, auto;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(imagens/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.mosquito1{
    width: 50px;
    height: 50px;
}

.mosquito2{
    width: 70px;
    height: 70px;
}

.mosquito3{
    width: 90px;
    height: 90px;
}

.ladoA{
    transform: scaleX(1);
}

.ladoB{
    transform: scaleX(-1);
}

.painel {
    position: absolute;
    width: 190px;
    height: 90px;
    padding: 10px;
    left: 0px;
    bottom: 0px;
    border-top: 1px solid #fff;
    background-color: #fff;
    opacity: 0.7;
}

.vidas {
    float: left;
}

.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
}